/* h1{

}
*{
  margin: 0px;
  padding:0px;
} */
body{
    background-image: url('https://cdn.pixabay.com/photo/2016/11/02/22/53/background-1792968_960_720.jpg');
    background-size:cover;
    background-attachment: fixed;
    font-family: Times New Roman;  
  }
  p{
    font-size: 15px;
    color:white;
  }
  .text-left {
    font-size: 30px;
    color:white;
    margin-top: 30%;
  }
  /* .glyphicon-pencil{
  font-size: 35px;
  color:white;
  float:right;
  margin-top: 20%;
} */
.col-md-5{
    margin-top: 80px;
    box-shadow: 1px 1px 60px 10px black;
    background: rgba(0,0,0,0.4);
  }
  .label{
    font-weight: normal;
    margin-top:15px;
    color:white;
    font-size: 15px;
  
  }
  .form-control{
    background: transparent;
    border-radius:0px;
    border:0px;
    border-bottom:1px solid white;
    font-size: 18px;
    margin-top: 15px;
    color:white;
  }